In [39]:
from pandas_datareader import data as pdr
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [29]:
    def __get_dates():
        start_date = date.today() - timedelta(days=int(6))
        end_date = date.today()
        start_date = pd.to_datetime('2021-05-16').strftime('%Y-%m-%d')
        end_date = pd.to_datetime('2021-05-18').strftime('%Y-%m-%d')
        return start_date, end_date

In [30]:
start_date, end_date = __get_dates()
df = pdr.get_data_yahoo(['BBDC3.SA', 'TRIS3.SA'], start=start_date, end=end_date)
df['Adj Close']

Symbols      BBDC3.SA  TRIS3.SA
Date
2021-05-17  21.780001      10.7
2021-05-18  22.010000      10.7

In [40]:
t = df.index.values[-1]
np.datetime_as_string(t, unit='D')

'2021-05-18'

In [104]:
df1 = df.loc[:,'Adj Close']
round_df = df1.iloc[-1:,:].applymap(lambda x: round(x, 2))
rm_SA = round_df.iloc[].applymap(lambda x: x)
.to_dict('records')
stocks_dict = [{'BBDC3.SA': 22.01, 'TRIS3.SA': 10.7, 'RANI3.SA': 8.2, 'SGPS3.SA': 11.27, 'MILS3.SA': 8.73, 'KEPL3.SA': 52.99, 'JBSS3.SA': 29.6, 'TUPY3.SA': 25.69, 'CSAN3.SA': 22.43, 'CVCB3.SA': 24.85, 'SHOW3.SA': 5.7, 'MOVI3.SA': 17.32, 'SQIA3.SA': 22.05, 'DMVF3.SA': 9.15, 'COGN3.SA': 4.02, 'LPSB3.SA': 4.12, 'POMO4.SA': 2.76, 'OIBR3.SA': 1.54}]
dici

[{'BBDC3.SA': 22.01, 'TRIS3.SA': 10.7}]

In [97]:
for k, v in stocks_dict[0].items():
    print(k, ' - - ', v)

BBDC3.SA  - -  22.01
TRIS3.SA  - -  10.7
RANI3.SA  - -  8.2
SGPS3.SA  - -  11.27
MILS3.SA  - -  8.73
KEPL3.SA  - -  52.99
JBSS3.SA  - -  29.6
TUPY3.SA  - -  25.69
CSAN3.SA  - -  22.43
CVCB3.SA  - -  24.85
SHOW3.SA  - -  5.7
MOVI3.SA  - -  17.32
SQIA3.SA  - -  22.05
DMVF3.SA  - -  9.15
COGN3.SA  - -  4.02
LPSB3.SA  - -  4.12
POMO4.SA  - -  2.76
OIBR3.SA  - -  1.54

In [86]:
df3.iloc[:,:1].applymap(lambda x: round(x, 2))

Date      2021-05-18
Symbols
BBDC3.SA       22.01
TRIS3.SA       10.70

In [89]:
df4 = df3.T
df4
# df4.to_dict('records')

Symbols     BBDC3.SA  TRIS3.SA
Date
2021-05-18     22.01      10.7

In [22]:
from datetime import datetime, timedelta, date
today = date.today()
yesterday = today - timedelta(days=int(1))
report_name_format = '%Y-%m-%d'
day_yesterday = pd.to_datetime(yesterday).strftime(report_name_format)
day_yesterday
day_today = pd.to_datetime(date.today()).strftime(report_name_format)
day_today
date.isoweekday(today)

pd.bdate_range()

2

In [13]:
df = pdr.get_data_yahoo(['BBDC3.SA',], end='2021-05-14')
df['Adj Close']

Symbols      BBDC3.SA
Date
2016-05-19  12.292517
2016-05-20  12.162088
2016-05-23  12.054954
2016-05-24  12.143458
2016-05-25  12.059612
...               ...
2021-05-10  21.469999
2021-05-11  21.430000
2021-05-12  20.969999
2021-05-13  21.610001
2021-05-14  21.750000

[1238 rows x 1 columns]

In [14]:
df

Attributes  Adj Close      Close       High        Low       Open      Volume
Symbols      BBDC3.SA   BBDC3.SA   BBDC3.SA   BBDC3.SA   BBDC3.SA    BBDC3.SA
Date
2016-05-19  12.292517  15.020604  15.225508  14.935227  15.162898   1454554.0
2016-05-20  12.162088  14.861234  15.231200  14.838467  15.168590   1177663.0
2016-05-23  12.054954  14.730323  14.997837  14.405892  14.417275   2006226.0
2016-05-24  12.143458  14.838467  15.026296  14.667713  14.918152   1497422.0
2016-05-25  12.059612  14.736015  15.157206  14.713248  14.935227   1498301.0
...               ...        ...        ...        ...        ...         ...
2021-05-10  21.469999  21.469999  21.469999  20.820000  20.879999   5627500.0
2021-05-11  21.430000  21.430000  21.580000  21.139999  21.139999   4763800.0
2021-05-12  20.969999  20.969999  21.180000  20.840000  21.070000   6698700.0
2021-05-13  21.610001  21.610001  21.740000  20.959999  20.990000  10439700.0
2021-05-14  21.750000  21.750000  21.969999  21.420000  21.860001   3728500.0

[1238 rows x 6 columns]

## teste dict to obj

In [5]:
stocks_dict = [{'BBDC3.SA': 22.01, 'TRIS3.SA': 10.7, 'RANI3.SA': 8.2, 'SGPS3.SA': 11.27, 'MILS3.SA': 8.73, 'KEPL3.SA': 52.99, 'JBSS3.SA': 29.6, 'TUPY3.SA': 25.69, 'CSAN3.SA': 22.43, 'CVCB3.SA': 24.85, 'SHOW3.SA': 5.7, 'MOVI3.SA': 17.32, 'SQIA3.SA': 22.05, 'DMVF3.SA': 9.15, 'COGN3.SA': 4.02, 'LPSB3.SA': 4.12, 'POMO4.SA': 2.76, 'OIBR3.SA': 1.54}]

In [8]:
import datetime


class Stock:
    def __init__(self, name: str = '', code: str = '', current_price: float = 1, last_update = None):
        self.name = name
        self.code = code
        self.current_price = current_price
        self.last_update = last_update

    def set_last_update(self, data):
        self.last_update = data
        return self

    def format_as_dict(self):
        return {
            'name': self.name,
            'code': self.code,
            'current_price': self.current_price,
            'last_update': self.last_update
        }

In [13]:
[Stock(code=k, current_price=v).format_as_dict() for k, v in stocks_dict[0].items()]

[{'name': '', 'code': 'BBDC3.SA', 'current_price': 22.01, 'last_update': None},
 {'name': '', 'code': 'TRIS3.SA', 'current_price': 10.7, 'last_update': None},
 {'name': '', 'code': 'RANI3.SA', 'current_price': 8.2, 'last_update': None},
 {'name': '', 'code': 'SGPS3.SA', 'current_price': 11.27, 'last_update': None},
 {'name': '', 'code': 'MILS3.SA', 'current_price': 8.73, 'last_update': None},
 {'name': '', 'code': 'KEPL3.SA', 'current_price': 52.99, 'last_update': None},
 {'name': '', 'code': 'JBSS3.SA', 'current_price': 29.6, 'last_update': None},
 {'name': '', 'code': 'TUPY3.SA', 'current_price': 25.69, 'last_update': None},
 {'name': '', 'code': 'CSAN3.SA', 'current_price': 22.43, 'last_update': None},
 {'name': '', 'code': 'CVCB3.SA', 'current_price': 24.85, 'last_update': None},
 {'name': '', 'code': 'SHOW3.SA', 'current_price': 5.7, 'last_update': None},
 {'name': '', 'code': 'MOVI3.SA', 'current_price': 17.32, 'last_update': None},
 {'name': '', 'code': 'SQIA3.SA', 'current_price': 22.05, 'last_update': None},
 {'name': '', 'code': 'DMVF3.SA', 'current_price': 9.15, 'last_update': None},
 {'name': '', 'code': 'COGN3.SA', 'current_price': 4.02, 'last_update': None},
 {'name': '', 'code': 'LPSB3.SA', 'current_price': 4.12, 'last_update': None},
 {'name': '', 'code': 'POMO4.SA', 'current_price': 2.76, 'last_update': None},
 {'name': '', 'code': 'OIBR3.SA', 'current_price': 1.54, 'last_update': None}]